* {
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-image: url(background\ img.png);
}
.m3 * {
  margin: 30px;
}
.flex-container {
  display: flex;
  background-color: white;
  max-width: 1100px;
  width: 100%;
  height: 60px;
  font-size: 18px;
  align-items: center;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
#home {
  display: flex;
  align-items: center;
  flex-direction: column;
}
img {
  height: 200px;
  width: 200px;
  border-radius: 16px;
}
h1 {
  font-size: 30px;
}
p {
  font-size: 22px;
}
#attribute {
  margin-top: 10px;
  text-align: left;
}
.low {
  display: flex;
}
.alone {
  display: flex;
  background-color: white;
  max-width: 1100px;
  width: 100%;
  height: 60px;
  font-size: 18px;
  align-items: center;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.meme {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
}
h1 {
  text-align: center;
}
.sun {
  display: flex;
  padding: 10px;
  margin: 10px;
}
.all {
  display: flex;
  background-color: white;
  max-width: 1100px;
  width: 100%;
  height: 60px;
  font-size: 18px;
  align-items: center;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.huge {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background: white;
  padding: 16px;
  flex: 1;
}
.amigo {
  display: flex;
}
.dami {
  background-color: blue;
  margin: 5px;
  justify-content: space-between;
}
.hood {
  background-color: white;
  border: 5px solid blue;
  margin: 5px;
}
h1 {
  text-align: center;
}
/* h2 {
  flex-direction: row;
}
h5 { 
  background: white;
  height: 30px;
}*/
.hi {
  padding: 10px;
  margin: 10px;
  flex: 1;
  background: white;
  border-radius: 50px;
}
.horizontal {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.smooth {
  padding: 10px;
  margin: 10px;
}

#blog-container,
#project-container {
  overflow-x: scroll;
}

/* @media only screen and (max-width: 1232px) {
  .flex {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1232px) {
  #home,
  #about {
    padding: 4rem 2rem;
  }
} */
button,
[type='submit'],
[type='file'] {
  padding: 0.5rem 1rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 0;
  outline: 0;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#App,
#adminApp {
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
}
input,
textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: 0;
  display: block;
}
.blog-img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
nav,
aside {
  display: flex;
  justify-content: space-between;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 10px;
  /* position: fixed; */
  width: 100%;
  max-width: 1200px;
  overflow-x: auto;
  top: 0;
  z-index: 100;
}
nav {
  margin: auto;
}
aside {
  flex-direction: column;
  width: auto;
  max-width: 200px;
  position: relative;
  background: white;
}
nav a,
aside a {
  text-decoration: none;
  padding: 10px;
  color: var(--color-white);
}
#fall {
  flex: 3;
  display: row;
  background: white;
  padding: 10px;
  margin: 20px;
  width: fit-content;
}
.sweet {
  background: blue;
}
.honey {
  background: green;
}
.soon {
  background: darkgrey;
}
.honey,
.soon,
.sweet {
  height: 100px;
  width: 150px;
  display: colum;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
table,
thead,
tbody,
tfoot,
tr,
th,
td {
  border: none;
  border-spacing: 0;
}

table {
  width: 100%;
  border: 0;
  padding: 20px 0px;
}
tr,
thead {
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgb(130, 168, 212);
}
td,
th {
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  padding: 10px 0;
}
